p{
    color:rgb(59, 58, 58)
}

a.dakotalink{

    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px ;
    color:cornflowerblue;
    background-color: bisque;
}

a.dakotalink:hover{
    background-color: cadetblue;
    color: white;
}

div.dakotadivgrey{
    background-color: rgb(222, 233, 254);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid cornflowerblue

}
