p{
    color:rgb(59, 58, 58)
}

a.dakotalink{

    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px ;
    color:cornflowerblue;
    background-color: bisque;
}

a.dakotalink:hover{
    background-color: cadetblue;
    color: white;
}

div.dakotadivgrey{
    background-color: rgb(222, 233, 254);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid cornflowerblue

}

.tsx1{
    background-image: url('assets/img/tsx1.jpg');
    opacity: 0.5;
   background-repeat: no-repeat;
}
.resume-section::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 白色遮罩，可調整透明度與顏色 */
  z-index: 0;
}

.resume-section {
  position: relative;
  background-image: url('/assets/img/home.png');
}

.resume-section > * {
  position: relative;
  z-index: 1;
}

.navl-link:hover{
    color: aliceblue;
}
